<!--FORM -->
<section>
	<form accept-charset="UTF-8" ng-submit="sendForm()" name="contentForm" >	
		<div class ="formblock">
			<fieldset>
				<div id ="left">

					<br />
					<label for="employ">Years with current employer</label>
					<input type="text" name="employ" placeholder="Years with current employer" min="1" max="120" ng-model="formData.employ" required />

					<br/>
					<label for="age">Age in years</label>
					<input type="text" name="age" placeholder="Enter your age" min="1" max="120" ng-model="formData.age" required />

					<br />
					<label for="ed">Level of education (1 to 5)</label>
					<input type="text" name="ed" placeholder="Level of education" min="1" max="120" ng-model="formData.ed" required />
				
					<br />
					<label for="address">Years at current address</label>
					<input type="text" name="address" placeholder="Years at current address" ng-model="formData.address" required />
				
					<br />
					<label for="address">Previously defaulted (0 /1 )</label>
					<input type="text" name="address" placeholder="Previously defaulted" ng-model="formData.defaultpayment" required />
				</div>

				<div id ="right">
					<br />
					<label for="income">Household income in thousands</label>
					<input type="text" id="income" name="income" placeholder="Household income in thousands" ng-model="formData.income" required />


					<br />
					<label for="debtinc">Debt to income ratio (x100)</label>
					<input type="text" id="debtinc" name="debtinc" placeholder="Debt to income ratio (x100)" ng-model="formData.debtinc" required />


					<br />
					<label for="income">Credit card debt in thousands</label>
					<input type="text" id="creddebt" name="creddebt" placeholder="Credit card debt in thousands" ng-model="formData.creddebt" required />


					<br />
					<label for="othdebt">Other debt in thousands</label>
					<input type="text" id="othdebt" name="othdebt" placeholder="Other debt in thousands" ng-model="formData.othdebt" required />

				</div>
			</fieldset>	

			<br />
			<div id="bottom">
				<button type="submit" value="Submit" class="button special" id="captcha">Get Score</button>
			</div>
		</div>
		<br/>
		
	</form>
</section>

<!-- RESULT -->
<section> 
	<div class="formResult" ng-hide="displayScore">
	<br />
	<br />
	<br />
		<h3>Loan Scoring Result - output from Bluemix Predictive Analytics Service</h3>
		<div>
			Your loan score is: {{score}}
		</div>
		
		<br/><br/>
		
		<div>
			Full Predictive Analytics API response <br/>
			{{result}}
		</div>
	</div>
</section>
