<!--FORM -->
<section>
	<form accept-charset="UTF-8" ng-submit="sendForm()" name="contentForm" >	
		<div class ="formblock">
			<fieldset>
				<div id ="left">

					<br />
					<label for="employ">How many years working?</label>
					<input type="text" name="employ" placeholder="Number of years working?" min="1" max="120" ng-model="formData.employ" required />

					<br/>
					<label for="age">How old are you?</label>
					<input type="text" name="age" placeholder="Enter your age" min="1" max="120" ng-model="formData.age" required />

					<br />
					<label for="ed">Number of years studing?</label>
					<input type="text" name="ed" placeholder="Enter your ed" min="1" max="120" ng-model="formData.ed" required />
				
					<br />
					<label for="address">Number of years living in your current home?</label>
					<input type="text" name="address" placeholder="Enter your postal code" ng-model="formData.address" required />
				</div>

				<div id ="right">
					<br />
					<label for="income">What is your yearly income (in KEuros)?</label>
					<input type="text" id="income" name="income" placeholder="Enter your income" ng-model="formData.income" required />


					<br />
					<label for="debtinc">Commercial Credit in KEuros (DebtInc)?</label>
					<input type="text" id="debtinc" name="debtinc" placeholder="Enter your debtinc" ng-model="formData.debtinc" required />


					<br />
					<label for="income">Long Term Credit in KEuros (Creddebt)?</label>
					<input type="text" id="creddebt" name="creddebt" placeholder="Enter your creddebt" ng-model="formData.creddebt" required />


					<br />
					<label for="othdebt">Other debts in KEuros (Otherdebt)?</label>
					<input type="text" id="othdebt" name="othdebt" placeholder="Enter your othdebt" ng-model="formData.othdebt" required />

				</div>
			</fieldset>	

			<br />
			<div id="bottom">
				<button type="submit" value="Submit" class="button special" id="captcha">Get Score</button>
			</div>
		</div>
		<br/>
		
	</form>
</section>

<!-- RESULT -->
<section> 
	<div class="formResult" ng-hide="displayScore">
		<h3>Loan Scoring Result - output from Bluemix Predictive Analytics Service</h3>
		<div>
			Your loan score is: {{score}}
		</div>
		
		<br/><br/>
		
		<div>
			Full Predictive Analytics API response <br/>
			{{result}}
		</div>
	</div>
</section>
